#tilecontainer {
  position: relative;
  width: 100%;
  height: 100%;
}

@font-face { font-family: Mahjong; src: url('/assets/fonts/mahjong/ma______.ttf'); }

.tile {
  position: absolute;
  font-family: Mahjong;
  font-size: 2em;
}
