#tilecontainer {
  position: relative;
  width: 100%;
  height: 100%;
}

@font-face { font-family: Mahjong; src: url('/assets/fonts/mahjong/ma______.ttf'); }

.tile {
  background-color: white;
  position: absolute;
  font-family: Mahjong;
  font-size: 80px;
}

.selected {
  background-color: pink;
}

.Bamboo {
  color: green;
}

.Character {
  color: red;
}

.Circle {
  color: blue;
}

.Dragon {
  color: purple;
}

.Flower {
  color: darkgreen;
}

.Wind {
  color: orange;
}
