.tile {
  background-color: white;
  position: absolute;
  font-family: Mahjong;
  font-size: 80px;
}

.selected {
  background-color: pink;
}

.matcheswholesuit {
  background-color: orange;
}

.Bamboo {
  color: green;
}

.Character {
  color: red;
}

.Circle {
  color: blue;
}

.Dragon {
  color: purple;
}

.Flower {
  color: darkgreen;
}

.Season {
  color: darkblue;
}

.Wind {
  color: orange;
}
