$tile-background-color: white;
$tile-selected-color: pink;
$tile-matcheswholesuit-color: orange;
$tile-bamboo-color: green;
$tile-character-color: red;
$tile-circle-color: blue;
$tile-dragon-color: purple;
$tile-flower-color: darkgreen;
$tile-season-color: darkblue;
$tile-wind-color: orange;
